#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input { 
  padding: 15px;
}

h1, h2 {
  margin-left: 20px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tasks-divider {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 5px;
  margin: 40px 0;
  color: royalblue;
}